<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <!-- progress bar -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


        <title>DashBoard</title>
        
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
        </script>
        
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> 
        </script> 

        <!--  
        <link rel="stylesheet" type="text/css" href="./stylesheets/index.css" media="screen" />
        -->

        <style> 
            body {

              background-color: #3e4745;

            }

            h1 {
                color: rgb(255, 255, 255);
                font-family: verdana;
                font-size: 150%;
                border: 2px solid rgb(30, 32, 32);
                padding: 30px;
                background-color: #04AA6D;
            }
            h2 {
                color: rgb(0, 0, 0);
                font-family: verdana;
                font-size: 100%;
                border: 2px solid rgb(30, 32, 32);
                padding: 10px;
                width: 500px;
                background-color: #04AA6D;
            }


            div {
              width: 500px;
              height: 100px;
              background-color: #04AA6D;
              animation-name: example;
              animation-duration: 30s;
              
              animation-iteration-count: 100;
            }



            
            @keyframes example {
              from {background-color: #04AA6D;}
              to {background-color: #04AA6D;}
              
            }

            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                position: relative;
                left: 800px;
                top: -200px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
                }

                /* Safari */
                @-webkit-keyframes spin {
                0% { -webkit-transform: rotate(0deg); }
                100% { -webkit-transform: rotate(360deg); }
                }

                @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            .status {
                color: rgb(0, 0, 0);
                font-family: verdana;
                font-size: 100%;
                border: 2px solid rgb(30, 32, 32);
                padding: 10px;
                width: 500px;
                background-color: #04AA6D;
                position: relative;
                left: 600px;
                top: -250px;
            }
            .navbar-brand{
              color: rgb(0, 0, 0);
              font-size: 300%;    
            }


        </style>
       
    </head>

    <body>

      <!-- navigation bar -->

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">DashBoard</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Home <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Login</a></li>
                  </ul>
                </li>
                <li><a href="#">Status</a></li>
                <li><a href="#">Login</a></li>
                
              </ul>
              <ul class="nav navbar-nav navbar-right">
                
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>



        <script src="/socket.io/socket.io.js"></script>

        
        <script 
            src="http://code.jquery.com/jquery-latest.min.js"> 
        </script> 


        <!--
        <h1>DashBoard</h1>
        -->
        
        


        <canvas id="waitingCallsChart" style="width:50%;max-width:500px;
        position: relative;
        left: 600px;
        top: 300px;">
        </canvas>


        <script>

            
            var xValues = ['Waiting calls'];
            var yValues = [0];
            var barColors = ['purple'];

            new Chart("waitingCallsChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                  yAxes: [{
                    ticks: {
                      precision: 0,
                      beginAtZero: true
                    }
                  }],
                },
                title: {
                display: true,
                text: "Waiting Calls"
                }
            }
            });
            

        </script>


        


        <!-- spinner -->
        
        <h2 class="status">Server Status: Active</h2>

        <div class="loader"></div>







        
        <canvas id="myChart" style="width:100%;max-width:500px;
        position: relative;
        top: -450px;">
        </canvas>


        <script>

            
            var xValues = ['joining', 'cutoff', 'complaint', 'service'];
            var yValues = [msg[0], msg[1], msg[2], msg[3]];
            var barColors = ['red','green','blue','orange'];

            new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                  yAxes: [{
                    ticks: {
                      precision: 0,
                      beginAtZero: true
                    }
                  }],
                },
                title: {
                display: true,
                text: "Daily Calls Topics"
                }
            }
            });
            

        </script>
        
        

        <canvas id="myChart2" style="width:100%;max-width:500px;
          position: relative;
          top: -400px;">
        </canvas>
        
        <script>

            
            var xValues2 = ['8:00', '9:00', '10:00', '11:00', '12:00',
                            '13:00', '14:00', '15:00', '16:00', '17:00',
                            '18:00', '19:00', '20:00'];

            new Chart("myChart2", {
            type: "line",
            data: {
                labels: xValues2,
                datasets: [{ 
                data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
                borderColor: "blue",
                fill: false
                }]
            },
            options: {
                legend: {display: false},
                scales: {
                  yAxes: [{
                    ticks: {
                      precision: 0,
                      beginAtZero: true
                    }
                  }],
                },
                title: {
                display: true,
                text: "Daily Calls"
                }
            }
            });
            

        </script>


        <div id="div"></div>
        


         
        <ul id="messages"></ul>
        <form id="form" action="">
          <input id="input" autocomplete="off" /><button>Search</button>
        </form>
        

        <script>
            
            var socket = io();

            var messages = document.getElementById('messages');
            var form = document.getElementById('form');
            var input = document.getElementById('input');

            var div = document.getElementById('div');

            
            /*
            div.addEventListener("webkitAnimationIteration", function(e) {    
                e.preventDefault();
                if (true) {
                socket.emit('chat message', input.value);
                input.value = '';
                }
            });
            */
            

            socket.on('chat message', function(msg) {


              var xValues = ['Waiting calls'];
              var yValues = [msg[4]];
              var barColors = ['purple'];

              new Chart("waitingCallsChart", {
              type: "bar",
              data: {
                  labels: xValues,
                  datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                  }]
              },
              options: {
                  legend: {display: false},
                  scales: {
                    yAxes: [{
                      ticks: {
                        precision: 0,
                        beginAtZero: true
                      }
                    }],
                  },
                  title: {
                  display: true,
                  text: "Waiting Calls"
                  }
              }
              });





                var xValues = ['joining', 'cutoff', 'complaint', 'service'];
                var yValues = [msg[0], msg[1], msg[2], msg[3]];
                var barColors = ['red','green','blue','orange'];

                
                
                new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                      yAxes: [{
                        ticks: {
                          precision: 0,
                          beginAtZero: true
                        }
                      }],
                    },
                    title: {
                    display: true,
                    text: "Daily Calls Topics"
                    }
                }
                });
                


                var xValues2 = ['8:00', '9:00', '10:00', '11:00', '12:00',
                            '13:00', '14:00', '15:00', '16:00', '17:00',
                            '18:00', '19:00', '20:00'];

                new Chart("myChart2", {
                type: "line",
                data: {
                    labels: xValues2,
                    datasets: [{ 
                    data: [msg[5], msg[6], msg[7], msg[8], msg[9], msg[10], msg[11], msg[12], msg[13], msg[14], msg[15], msg[16], msg[17]],
                    borderColor: "blue",
                    fill: false
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                      yAxes: [{
                        ticks: {
                          precision: 0,
                          beginAtZero: true
                        }
                      }],
                    },
                    title: {
                    display: true,
                    text: "Daily Calls"
                    }
                }
                });



                

                /*
                var item = document.createElement('li');
                item.textContent = msg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
                */
            });
        </script>

    </body>
</html>