
body {
  background-image: url("https://thumbs.dreamstime.com/b/light-blue-background-area-graphic-elements-text-207517587.jpg");
  background-color: #f6f2f2;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 200%;
  border: 2px solid rgb(30, 32, 32);
  padding: 30px;
  background-color: #04AA6D;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7mrNbzzYgfyaJvrUXMVh2ZoPETkhq0RR6tqSicouHDlCRAJcDcYGtsxl8Gn7BgMGhtLM&usqp=CAU");
  }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
th {
    background-color: #04AA6D;
    color: white;
    border: 1px solid #1a1818;
    padding: 8px;
  }
td {
    border: 1px solid #1a1818;
    text-align: left;
    padding: 8px;
  }

tr:nth-child(even) {
  background-color: #04AA6D;;
}





.btnDelete {
  color: rgb(255, 255, 255);
  font-family: verdana;
  font-size: 100%;
  border: 2px solid rgb(30, 32, 32);
  padding: 10px;
  background-color: #04AA6D;
}

.active{
  background-color: #00FA9A;
}
   




  